/*Whole website*/

* {
	font-family: Arial, sans-serif;
	/*font-size: small;*/
}

/* Top Nav Bar */

.nav {
	font-size: small;
	text-align: right;
	color: black;
	margin: 1em 1em 0 0;
	height: 5%;
}

.nav nav {
	display: inline;
	margin-left: 1em;
}

.topnav {
    display: inline;
    text-align: right;
    color: black;
    margin: 1em 1em 0 0;
    height: 5%;
}

.topnav img {
	vertical-align: middle;
}


a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

#signin {
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	outline: none;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	padding: 0 12px;
	border-radius: 2px;
	line-height: 28px;
}

/*Centered search bar and logo*/

.main {
	text-align: center;
}

#googlelogo {
	position: relative;
	padding-top: 160px;
	clear: both;
}

#googlelogo img {
	height: 92px;
	width: 272px;
}

.search {
	margin-top: 25px;
}

form {
	margin: 0 auto;
}

form input[type="text"] {
	width: 484px;
	height: 38px;
	border: 1px solid #d9d9d9;
	border-radius: 0px;
}

form input[type="text"]:hover {
	border: 1px solid #a0a0a0;
}

form input[type="text"]:focus {
	border: 1px solid #4d90fe;
	outline: none;
	color: black;
	width: 477.5px;
	font-size: 16px;
	padding-left: 8px;
}

#searchbar {
	background-image: url('https://1.bp.blogspot.com/-lINg3E20_4Y/VebwdAy_MaI/AAAAAAAAFJU/8Jg2H-3-_cc/s1600/Microphone.png');
	background-repeat: no-repeat;
	background-position: 96.5% 50%;
	background-size: 3.25%;
}